#mh_btn {
  position: absolute;
  z-index: 9999;
  border: 1px solid #2196F3;
  display: none;
  background-color: #2196F3;
  color: #FFF;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  overflow: hidden;
  font-size: 12px;
  cursor: pointer;
}

#mh_box {
  position: fixed;
  z-index: 9999;
  border: 1px solid #2196F3;
  display: none;
  width: 250px;
  font-size: 14px;
  line-height: 1.25em;
}

#mh_box_hd {
  padding: 5px;
  cursor: move;
  z-index: 10000;
  background-color: #2196F3;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mh_box_bd {
  padding: 5px;
  background-color: #f1f1f1;
  color: #000;
}

.mh_icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  filter: contrast(4) invert(1);
}

#mh_box_hd .mh_icon_close {
  cursor: pointer;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAABZUlEQVR4Ae2agWYDQRRFBxCxHxEAFsY8CwsW+r9pAdWgAvmdCttVmJJiIEzFO55wz/zAOWRj5s0kIYQQQgghhBBC/I9xsPc8JYA8lY9xSCy2t4vVcs0ToH+1ahfbs/pnq1Z9E5r+bZ2xhMPuT78lAPq3hMMO0S8nq1a9E5p+W+UEJNjRalstwVW/rWPyJi9l80/I8z39suUlNfCE+XF9W7v6fIKtecb1+QRcn0/A9fkEXJ9PwPXjE/JyT99WQB8Q6Yc7AH6IqD6fgOrzCag+n4Dq8wmYPp/gsAmMTsgvDtvwyAT7idR3OJzw+sxsgdfnE3h9PoHS5xMA/fgA+6IC9BMCPmL9jQL6fAKgXzb7jkxwmHF2ZqraTutAwx8pdaiPH6tosBU/WtRwN368rguO2CsmXfLFX7Pqott3xhmQUN589TsJr8/03GbuP7fRg6foJ2d69NcYh/IZ/+xSCCGEEEIIIYQQvw2UKo1mqKrvAAAAAElFTkSuQmCC);
}
#mh_box_hd .mh_icon_fullscreen {
  cursor: pointer;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgAQMAAADYVuV7AAAABlBMVEUAAAAzMzPI8eYgAAAAAXRSTlMAQObYZgAAACZJREFUeAFjAIFRwP//PwPD//8faM4BU/yDjjPMwGAOa3qmt1EAAJi6f4Gal950AAAAAElFTkSuQmCC);
}
#mh_box_hd .mh_fixed {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgAQMAAADYVuV7AAAABlBMVEUAAAAzMzPI8eYgAAAAAXRSTlMAQObYZgAAACNJREFUeAFjgIBR8B+IBieH/z+I8/8DLTnDCtAv3AZ72hkFAK3Sf4Hpvgm3AAAAAElFTkSuQmCC);
}
