#popup {
  width: 375px;
}
#trans_input {
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
#trans_btn_wrap {
  padding: 8px 0;
}
